{{> header}}
<main class="profile">
  <div class="sidebar">
    <img src='/images/anonymousavatar.webp' alt="Avatar" class="profile-photo"/>
    <h3>Hello, User</h3>
    <a href="#">Currently Reading</a>
    <a href="#">Want to Read</a>
    <a href="#">Read</a>
  </div>

  <div class="profile-content">
    <h1>Welcome</h1>
    <p>This is where your profile will be. You should only be able to see this page if logged in.</p>

    <!-- SEARCH FORM-->
    <form class="search" action="/search" method="GET">
      <input type="text" name="query" placeholder="Search for a book by author or title..." required>
      <button class="btn" type="submit">Search</button>
    </form>

    <!-- SEARCH RESULTS -->
    {{#if books.length}}
      <div class="search-results">
        {{#each books}}
        <div class="book-card">
          <p>{{this.title}}</p>
          <p>Author: {{this.author}}</p>
          {{#if this.cover}}
            <img src="{{this.cover}}" alt="{{this.title}}" />
          {{else}}
            <p>No cover available</p>
          {{/if}}
        </div>
        {{/each}}
      </div>
    {{else}}
        <p>No reults found.</p>
    </div>
    {{/if}}
  
  
    <!-- BOOKSHELVES -->
    <div class="bookshelves">
      <div class="currently-reading-bookself">

      </div>

      <div class="want-to-read-bookself">

      </div>

      <div class="read-bookself">

      </div>
    </div>
    
  </div>
</main>
{{> footer}}