{{> header}}
<main class="profile">


<div class="profile-content">
  <h1>Your library</h1>
  <p>This is where your bookshelves will be. You should only be able to see this page if logged in.</p>

  
  <!-- BOOKSHELVES -->
  <div class="bookshelves">

    <div class="shelf">
      <h2>Currently Reading: </h2>
      <ul>
        {{#each want_to_read}}
        <li class="book-card">
          <h3 class="book-title">{{this.title}}</h3>
          <p>Author: {{this.author}}</p>
            {{#if this.cover}}
              <img src="{{this.cover}}" alt="{{this.title}}" />
            {{else}}
              <p>No cover available.</p>
            {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="shelf">
      <h2>Want to Read: </h2>
      <ul>
        {{#each want_to_read}}
        <li class="book-card">
          <h3 class="book-title">{{this.title}}</h3>
          <p>Author: {{this.author}}</p>
            {{#if this.cover}}
              <img src="{{this.cover}}" alt="{{this.title}}" />
            {{else}}
              <p>No cover available.</p>
            {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="shelf">
      <h2>Read: </h2>
      <ul>
        {{#each want_to_read}}
        <li class="book-card">
          <h3 class="book-title">{{this.title}}</h3>
          <p>Author: {{this.author}}</p>
            {{#if this.cover}}
              <img src="{{this.cover}}" alt="{{this.title}}" />
            {{else}}
              <p>No cover available.</p>
            {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>

  </div>

</div>

</main>
{{> footer}}