{{> header}}
<main class="profile">

    <div class="profile-content">
        <h1>Your library</h1>
        <p>This is where your bookshelves will be. You should only be able to see this page if logged in.</p>
        
        <!-- BOOKSHELVES -->
        <div class="bookshelves">

            <!-- CURRENTLY READING -->
            {{#if booksByShelf.currently_reading.length}}
            <div class="shelf">
            <h2>Currently Reading: </h2>
            <ul>
                {{#each booksByShelf.currently_reading}}
                    <li class="book-card">
                    <div class="book-cover-area">
                        {{#if this.cover}}
                            <img src="{{this.cover}}" class="book-cover" alt="{{this.title}}" />
                        {{else}}
                            <img src="/images/cover_unavailable.webp" alt="Book cover unavailable." />
                        {{/if}}
                    </div>
                    
                    <div class="book-info-area">
                        <div>
                            <h3 class="book-title">{{this.title}}</h3>
                            <p>Author: {{this.author}}</p>
                        </div>
                        <!-- BOOKSHELF SORTING FORM -->
                        <div>
                        <form action="/api/add-to-bookshelf" class="bookshelf-select" method="POST">
                            <input type="hidden" name="ol_id" value="{{this.ol_id}}">
                            <input type="hidden" name="title" value="{{this.title}}">
                            <input type="hidden" name="author" value="{{this.author}}">
                            <input type="hidden" name="cover" value="{{this.cover}}">
                            
                            <select name="bookshelf" required>
                                <option value="want_to_read">Want to read</option>
                                <option value="currently_reading">Currently reading</option>
                                <option value="read">Read</option>
                            </select>
                            
                            <button type="submit">Add to shelf</button>
                        </form>
                        <form action="/api/remove-from-bookshelf" class="bookshelf-remove" method="POST">
                            <input type="hidden" name="book_id" value="{{this.id}}">

                            <button type="submit" class="">Remove</button>
                        </form>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            </div>
            {{/if}}

            <!-- WANT TO READ -->
            {{#if booksByShelf.want_to_read.length}}
            <div class="shelf">
            <h2>Want to Read: </h2>
            <ul>
                {{#each booksByShelf.want_to_read}}
                    <li class="book-card">
                    <div class="book-cover-area">
                        {{#if this.cover}}
                            <img src="{{this.cover}}" class="book-cover" alt="{{this.title}}" />
                        {{else}}
                            <img src="/images/cover_unavailable.webp" alt="Book cover unavailable." />
                        {{/if}}
                    </div>
                    
                    <div class="book-info-area">
                        <div>
                            <h3 class="book-title">{{this.title}}</h3>
                            <p>Author: {{this.author}}</p>
                        </div>
                        <!-- BOOKSHELF SORTING FORM -->
                        <div>
                        <form action="/api/add-to-bookshelf" class="bookshelf-select" method="POST">
                            <input type="hidden" name="ol_id" value="{{this.ol_id}}">
                            <input type="hidden" name="title" value="{{this.title}}">
                            <input type="hidden" name="author" value="{{this.author}}">
                            <input type="hidden" name="cover" value="{{this.cover}}">
                            
                            <select name="bookshelf" required>
                                <option value="want_to_read">Want to read</option>
                                <option value="currently_reading">Currently reading</option>
                                <option value="read">Read</option>
                            </select>
                            
                            <button type="submit">Add to shelf</button>
                        </form>
                        <form action="/api/remove-from-bookshelf" class="bookshelf-remove" method="POST">
                            <input type="hidden" name="book_id" value="{{this.id}}">

                            <button type="submit" class="">Remove</button>
                        </form>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            </div>
            {{/if}}

            <!-- READ -->
            {{#if booksByShelf.read.length}}
            <div class="shelf">
            <h2>Read: </h2>
            <ul>
                {{#each booksByShelf.read}}
                    <li class="book-card">
                    <div class="book-cover-area">
                        {{#if this.cover}}
                            <img src="{{this.cover}}" class="book-cover" alt="{{this.title}}" />
                        {{else}}
                            <img src="/images/cover_unavailable.webp" alt="Book cover unavailable." />
                        {{/if}}
                    </div>
                    
                    <div class="book-info-area">
                        <div>
                            <h3 class="book-title">{{this.title}}</h3>
                            <p>Author: {{this.author}}</p>
                        </div>
                        <!-- BOOKSHELF SORTING FORM -->
                        <div>
                        <form action="/api/add-to-bookshelf" class="bookshelf-select" method="POST">
                            <input type="hidden" name="ol_id" value="{{this.ol_id}}">
                            <input type="hidden" name="title" value="{{this.title}}">
                            <input type="hidden" name="author" value="{{this.author}}">
                            <input type="hidden" name="cover" value="{{this.cover}}">
                            
                            <select name="bookshelf" required>
                                <option value="want_to_read">Want to read</option>
                                <option value="currently_reading">Currently reading</option>
                                <option value="read">Read</option>
                            </select>
                            
                            <button type="submit">Add to shelf</button>
                        </form>
                        <form action="/api/remove-from-bookshelf" class="bookshelf-remove" method="POST">
                            <input type="hidden" name="book_id" value="{{this.id}}">

                            <button type="submit" class="">Remove</button>
                        </form>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            </div>
            {{/if}}

        </div>
    </div>
</main>
{{> footer}}