{{> header}}
<main class="search">

<!-- SEARCH RESULTS DISPLAY -->
<div class="search-results">
    {{#if books.length}}
    <h2>Results:</h2>
    <ul>
        {{#each books}}
        <li class="book-card">
            <div class="book-cover-area">
                {{#if this.cover}}
                    <img src="{{this.cover}}" class="book-cover" alt="{{this.title}}" />
                {{else}}
                    <img src="/images/cover_unavailable.webp" alt="Book cover unavailable." />
                {{/if}}
            </div>
            <div class="book-info-area">
                <div>
                    <h3 class="book-title">{{this.title}}</h3>
                <p>Author: {{this.author}}</p>
                </div>
                <!-- BOOKSHELF SORTING FORM -->
                <div>
                <form class="bookshelf-select" action="/add-to-bookshelf" method="POST" />
                    <label for:"bookshelf">Choose a bookshelf:</label>
                    <input type="hidden" name="book_id" value="{{this.id}}" onchange="this.form.submit()">
                    <select name="bookshelf" required>
                        <option value="want_to_read">Want to read</option>
                        <option value="currently_reading">Currently reading</option>
                        <option value="read">Read</option>
                    </select>
                    <input type="hidden" name="user_id" value="{{user.id}}">
                </form>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
        {{else if query}}
            <p>No results found for "{{query}}".</p>
        {{/if}}
</div>

</main>
{{> footer}}